body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul{
  list-style-type: none;
}

button {
  padding: 8px 16px;
  color: white;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#Add-btn{
  padding: 8px 16px;
  background-color: #45a049;
  color: rgb(114, 251, 114);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#Save-btn{
  background-color: #45a049;
}

#Edit-btn{
  background-color: #4febd1;
}

#Delete-btn{
  background-color: crimson;
}

button:hover {
  opacity: 0.9;
}

.edit-button {
  background-color: #2196F3; /* Blue */
}

.edit-button:hover {
  background-color: #0b7dda;
}

.save-button {
  background-color: #4caf50; /* Green */
}

.save-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: #f44336; /* Red */
}

.delete-button:hover {
  background-color: #da190b;
}

